* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    max-width: 1920px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: linear-gradient(180deg, #B380FD 12.94%, #6347F5 78.23%);
}

.wrapper {
    display: flex;
    height: 100%;
}

.everscale__side {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    padding: 64px 48px 24px 48px;
}

.side__company {
    margin-bottom: 72px;
    text-align: center;
}

.side__company--text {
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.side__nav {
    list-style-type: none;
    flex: 1;
}

.side__nav--link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 24px 80px 24px 24px;
    margin-bottom: 24px;
    text-decoration: none;
}

.side__nav--link svg {
    fill: #FFFFFF;
}

.side__nav--link.active {
    background: #FFFFFF;
    border-radius: 16px;
}

.side__nav--link.active svg {
    fill: #6347F5;
}

.side__nav--link li {
    display: flex;
    align-items: center;
}

.side__nav--link span {
    margin-left: 24px;
    color: #FFFFFF;
}

.side__nav--link.active span {
    color: #000000;
}

.side__nav--link:not(.active):hover {
    margin: -2px;
    margin-bottom: 22px;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
}

.side__language {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.everscale__mobmenu {
    display: none;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, #B380FD 12.94%, #6347F5 78.23%);
}


/* main */

.everscale__main {
    background: #F7F7FB;
    border-radius: 32px 0px 0px 0px;
    height: 100%;
    flex: 1;
    padding: 64px 128px 0 128px;
    min-height: 100vh;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.header__title {
    font-size: 36px;
    line-height: 120%;
    color: #000000;
}

.header__category {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
}

.header__category--link {
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;
    margin-right: 8px;
}

.header__category--link.active {
    padding: 8px;
    color: #FFFFFF;
    background: linear-gradient(201.66deg, #B380FD 12.94%, #6347F5 78.23%);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
}

.token__wrapper {
    padding: 24px 32px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    margin-bottom: 8px;
}

.token {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;
}

.token.active {
    box-shadow: 0px 0px 0px 2px #6347F5;
}

.token__description {
    font-size: 16px;
    color: #5D5E6C;
}

.token__number {
    font-size: 18px;
    color: #93949D;
    margin-right: 24px;
}

.token__name {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 24px;
    text-decoration: none;
}

.token__name--long {
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.token__name--short {
    font-size: 16px;
    line-height: 120%;
    color: #6347F5;
}

.token__price {
    display: flex;
    flex-direction: column;
    width: 18%;
}

.token__price .price {
    font-size: 18px;
    line-height: 120%;
}

.token__price--priceChange {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 10%;
}

.token__price--priceChange-link {
    font-size: 14px;
    line-height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.token__price--priceChange-link.grow {
    color: #30BF8C;
}

.token__price--priceChange-link.fall {
    color: #FF647C;
}

.token__price--priceChange-link:not(:last-child)::after {
    display: block;
    content: '';
    width: 1px;
    height: 1px;
    border: 1px solid #93949D;
    border-radius: 50%;
    background: #93949D;
    margin-right: 3px;
    margin-left: 3px;
}

.token__stock {
    width: 18%;
}

.token__stock .stock {
    font-size: 18px;
    line-height: 120%;
    margin-right: 8px;
}

.token__stock .stock--change {
    font-size: 16px;
    line-height: 120%;
    color: #6347F5;
}

.token__traider {
    display: flex;
    align-items: center;
    width: 12%;
}

.token__traider--volume {
    margin-left: 8px;
}

.token__toggler {
    flex: 1;
    text-align: right;
}

.no-content {
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    text-align: center;
    margin-top: 144px;
}

@media (max-width: 1024px) {
    .everscale__side {
        padding: 64px 18px 24px 18px;
    }
    .everscale__main {
        padding: 64px 24px 0 24px;
    }
    .main__header {
        margin-bottom: 42px;
    }
    .token__wrapper {
        padding: 24px 32px 24px 24px;
    }
    .token__number {
        margin-right: 12px;
    }
    .token__name {
        margin-left: 12px;
        width: 25%;
    }
    .token__price {
        width: 14%;
    }
    .token__price--priceChange {
        flex-wrap: wrap;
    }
    .token__stock {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 16%;
    }
    .stock {
        margin-bottom: 8px;
    }
    .token__traider {
        display: flex;
        flex-direction: column;
    }
    .token__traider svg {
        margin-bottom: 8px;
    }
}

@media (max-width: 768px) {
    .token {
        flex-wrap: wrap;
    }
    .token__name {
        width: 80%;
    }
    .token__price {
        width: 34%;
        margin-top: 8px;
    }
    .token__price--priceChange {
        flex-wrap: nowrap;
    }
    .token__stock {
        width: 25%;
        margin-top: 8px;
    }
    .token__traider {
        width: 8%;
        margin-top: 8px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        display: block;
    }
    .everscale__side {
        padding: 64px 8px 24px 8px;
        display: none;
    }
    .everscale__mobmenu {
        display: block;
    }
    .everscale__main {
        border-radius: 0;
        padding: 24px 8px 0 9px;
    }
    .main__header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header__title {
        margin-bottom: 8px;
    }
    .side__company {
        margin-bottom: 8px;
    }
    .side__company svg {
        width: 200px;
    }
    .side__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .side__nav--link {
        padding: 16px 36px 24px 16px;
        margin-bottom: 16px;
    }
    .token {
        margin-bottom: 8px;
    }
    .token__name {
        width: 60%;
    }
    .token__price {
        width: 25%;
    }
    .token__price .price {
        font-size: 14px;
        line-height: 120%;
    }
    .token__price--priceChange {
        flex-wrap: wrap;
        font-size: 12px;
    }
    .token__stock {
        width: 36%;
        margin-top: 8px;
    }
    .token__price+.token__stock {
        width: 31%;
    }
    .token__stock .stock {
        font-size: 14px;
    }
    .token__stock .stock--change {
        font-size: 12px;
    }
    .token__traider {
        width: 8%;
        margin-top: 8px;
    }
    .token__traider--volume {
        font-size: 14px;
    }
}